AddDefaultCharset UTF-8
ErrorDocument 404 /page/404
ErrorDocument 401 /password.php
RewriteEngine on

# Админка теперь по адресу /engine
RewriteRule	^admin/?$  engine [L]

# Каталог товаров
RewriteRule ^([a-z]{2})/catalog/([^/]+)/?$	index.php?module=ProductsView&lang=$1&category=$2 [L,QSA]
RewriteRule ^catalog/([^/]+)/?$	index.php?module=ProductsView&category=$1 [L,QSA]

# Товары
RewriteRule ^([a-z]{2})/products/([^/]+)/?$	index.php?module=ProductView&lang=$1&product_url=$2 [L,QSA]
RewriteRule ^products/([^/]+)/?$	index.php?module=ProductView&product_url=$1 [L,QSA]
RewriteRule ^([a-z]{2})?/?products/?$	index.php?module=ProductsView&lang=$1 [L,QSA]

# Корзина и заказы
RewriteRule ^cart/?$	index.php?module=CartView   [L,QSA]
RewriteRule ^cart/([^/]+)/?$	index.php?module=CartView&add_variant=$1  [L,QSA]
RewriteRule ^cart/remove/([^/]+)/([^/]+)/?$	index.php?module=CartView&delete_variant=$1&delete_v_item=$2  [L,QSA]
RewriteRule ^cart/remove/([^/]+)/?$	index.php?module=CartView&delete_variant=$1  [L,QSA]
RewriteRule ^order/([^/]+)/?$	index.php?module=OrderView&url=$1  [L,QSA]
RewriteRule ^order/?$	index.php?module=OrderView  [L,QSA]

# Google sitemap
RewriteRule ^sitemap.xml?$	sitemap.php  [L,QSA]

# Блог
RewriteRule ^news/([^/]+)/?$	index.php?module=NewsView&url=$1 [L,QSA]
RewriteRule ^news/?$			index.php?module=NewsView [L,QSA]

# feedback
RewriteRule ^([a-z]{2})/contact/?$	index.php?module=FeedbackView&lang=$1 [L,QSA]
RewriteRule ^contact/?$	index.php?module=FeedbackView [L,QSA]

# Статические страницы
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-z]{2})/page/([^/]+)/?$	index.php?module=PageView&lang=$1&page_url=$2 [L,QSA]
RewriteRule ^page/([^/]+)/?$	index.php?module=PageView&page_url=$1 [L,QSA]
RewriteRule ^([a-z]{2})?/?$	index.php?module=MainView&lang=$1&page_url= [L,QSA]


# Ресайз картинок на лету
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^files/products/(.+) resize/resize.php?file=$1&token=%{QUERY_STRING}
#RewriteCond %{THE_REQUEST} ^GET\ (.*)files/products/(.*)\?([A-z0-9]*) 
#RewriteRule ^files/products/(.+) resize/resize.php?file=%2&token=%3 [L,NE]