@font-face {
    font-family: 'lemon';
    src: url('../fonts/10905-webfont.woff2') format('woff2'),
         url('../fonts/10905-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a, img {border:0; outline:0;}
a:focus, img:focus {border:0; outline:0;}
.clear{clear:both;}
.pdl-0{padding-left:0;}
.pdr-0{padding-right:0;}
body{
	background:#fff;
}
header{
	background:#888fb0 url(../img/h-bg.png) 0 0 repeat-x;
	min-height:186px;
	color:#000;
}
header .logo{
	margin:22px 0 0 0;
	
}
header .logo img{
	width:100%;
	max-width:131px;
}
header .top-block{
	width:100%;
	display:flex;
	height:43px;
	margin-top:23px;
	line-height:43px;
	justify-content:flex-end;
}
header #search-box {
	margin-top:7px;
	padding: 2px;
	border:1px solid #000;
	line-height:22px;
	height:28px;
	margin-right: 40px;
}
header #search-box .search-i{
	width:80%;
	font-style: italic;
	border:0;
	outline:0;
	font-size:14px;
	line-height:22px;
}
header #search-box .search-i:active, #header #search-box .search-i:hover{
	border:0;
	outline:0;
}
header #search-box .search-b{
	float:right;
	text-indent:-9999px;
	width:26px;
	height:26px;
	border:0;
	outline:0;
	background: url(../img/search-b.png) 3px 3px no-repeat;
}
header .lang-select a{
	color:#000;
	font-size:13px;
	text-decoration:none;
	margin-left:10px;
}
header .lang-select{
	margin-right:40px;
}
header .lang-select a{
	text-transform:uppercase;
}
header .lang-select a:hover, header .lang-select a.act{
	text-decoration:underline;
}
header .social a{
	margin:0 0 0 15px;
	color:#000;
	font-size:28px;
}
header .social a:hover{
	opacity:.7;
}
header .bottom-block{
	display:flex;
	justify-content:space-between;
}
header .top-menu{
	list-style:none;
	padding:0;
	display:flex;
	justify-content:flex-start;
	margin-top:35px;
}
header .top-menu li a{
	color:#000;
	font: bold 18px/20px Arial;
	text-transform:uppercase;
	margin-right:20px;
}
header .top-menu li a.last{
	margin-right:0;
}
header #cart_informer_box{
	padding:25px 20px;
}
header #cart_informer_box #cart_informer{
	color:#000;
	font-size:16px;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold;
	position:relative;
}
header #cart_informer_box #cart_informer span{
	color:#fff;
	background:#000;
	padding:3px;
	font-size:14px;
	line-height:14px;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:normal;
	border-radius:100px;
	position:absolute;
	top:-14px;
	right:-6px;
	min-width:20px;
	text-align:center;
}
.main-block{
	margin:10px 0;
	
}
.main-block .left-menu a{
	display:block;
	width:100%;
	background: #000;
	margin-bottom:8px;
	padding:11px 40px;
	font-size:26px;
	line-height:26px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
}
.main-block .left-menu a:hover{
	background: #888fb0;
}
.main-block #slider img{
	width:100%;
}
.main-title h2{
	font:40px/50px lemon, arial;
	color:#000;
	text-transform:uppercase;
}
.best-sellers-block{
	background:#f8fafc;
}
.best-sellers .owl-carousel .owl-nav {
    position: absolute;
    top: -50px;
    right: 30px;
    font-size: 26px;
}
.best-sellers .owl-carousel .owl-nav div {
    display: inline-block;
    margin-left: 40px;
}
.bs-block .image {
	position:relative;
    width:100%;
	max-height:346px;
	overflow:hidden;
	text-align:center;
	margin-bottom:5px;
}
.bs-block .image div.p-more{
	display:none;
    position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(0,0,0,0.4);
	justify-content:center;
	align-items:center;
}
.bs-block .image div.p-more span{
   color:#fff;
   text-decoration:none;
   text-transform:uppercase;
   border-top:1px solid #fff;
   border-bottom:1px solid #fff;
   font:38px/60px lemon;
   padding:0 10px;
}
.bs-block .image:hover div.p-more{
	display:flex;
}
.bs-block .image .product-discount{
	position:absolute;
	display:block;
	top:0;
	right:5%;
	background:url(../img/label.png) 0 0 no-repeat;
	width:40px;
	height:47px;
	text-align:center;
	line-height:47px;
	color:#fff;
	font-size:14px;
	justify-content:flex-end;
	
}
.bs-block .price-row {
    height:20px;
	line-height:20px;
	color:#e39917;
	font-weight:bold;
	font-size:16px;
	margin-bottom:5px;
}
.bs-block .price-row span.stock{
    float:right;
	font-size:15px;
	color:#afafaf;
	font-weight:normal;
}
.bs-block .price-row span.usd{
    font-size:13px;
	color:#000;
}
.bs-block .price-row span.old-price{
	color:red;
	font-size:15px;
	text-decoration:line-through;
}
.bs-block .product-name h3{
    width:100%;
	font-size:16px;
	line-height:20px;
	height:20px;
	overflow:hidden;
	color:#000;
	padding:0;
	margin: 0 0 10px 0;
}
.bs-block .more{
    width:100%;
	text-align:center;
	margin-bottom:20px;
}
.best-sellers .more{
   margin-bottom:0;
}
.bs-block .more a{
    height:30px;
	color:#fff;
	line-height:30px;
	font-size:18px;
	font-weight:bold;
	background:#888fb0;
	padding:0 10px;
	display:inline-block;
	text-decoration:none;
}
.bs-block .more a:hover{
	background:#717792;
}
#path{
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#000;
	
}
#path a{
	color:#000;
	text-decoration:none;
}
#path a:hover{
	text-decoration:underline;
}
.catalog-page .sort{
	margin-bottom: 20px;
}
.catalog-page #features-list .feature_name{
	background:#878787;
	border-radius:5px;
	height:30px;
	line-height:30px;
	color:#fff;
	text-transform:uppercase;
	padding:0 15px;
	margin-bottom:10px;
}
.catalog-page #features-list .feature_values ul{
	padding:0 0 0 5px;
	list-style:none;
}
.catalog-page #features-list .feature_values ul input{
	margin-right:10px;
	cursor:pointer;
}
.catalog-page #features-list .feature_values ul label{
	cursor:pointer;
}
.catalog-page #features-list .feature_values ul.colors-filter li{
	display:inline-block;
	position:relative;
	width:22px;
	height:22px;
	border:1px solid #d2d1d1;
	margin-right:10px;
}
.catalog-page #features-list .feature_values ul.colors-filter input{
	z-index:0;
}
.catalog-page #features-list .feature_values ul.colors-filter span{
	z-index:1;
	display:block;
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
}
.catalog-page #features-list .feature_values ul.colors-filter span.check{
	display:none;
	position:absolute;
	top:0;
	left:0;
	line-height:20px;
	color:#fff;
	width:20px;
	text-align:center;
	font-size:12px;
	z-index:2;
}
.catalog-page #features-list .feature_values ul.colors-filter label.sel span.check{
	display:block;
}
.catalog-page .price_range_label {
	width:100%;
	font-weight:bold;
	padding:10px 0;
	border-bottom: 1px dotted #ccc;
}
.catalog-page #price_range{
	text-align:center;
	width:100%;
	margin:5px 0;
	font-weight:bold;
	border:0;
	outline:0;
	background:transparent;
	
}
.catalog-page .ui-slider-handle{
	outline:0;
	cursor:pointer !important;
}
.catalog-page .ui-state-active,
.catalog-page .ui-widget-content .ui-state-active,
.catalog-page .ui-widget-header .ui-state-active,
.catalog-page a.ui-button:active,
.catalog-page .ui-button:active,
.catalog-page .ui-button.ui-state-active:hover {
	border: 1px solid #888fb0 !important;
	background: #888fb0 !important;
}
.catalog-page .filter-button {
	text-align:center;
	padding:15px 0;
}
.catalog-page .filter-button input{
	min-width:100px;
	line-height:24px;
	color:#fff;
	background:#888fb0;
	text-transform:uppercase;
	border:0;
	outline:0;
}
.catalog-page .filter-button input:hover{
	background:#717792;
}

.product-page .images{
	text-align:center;
	margin-bottom:15px;
}
.product-page .images img{
	cursor:pointer;
}
.product-page .image{
	text-align:center;
	overflow:hidden;
	position:relative;
}
.product-page .image .product-discount{
	position:absolute;
	top:0;
	right:5%;
	background:url(../img/label.png) 0 0 no-repeat;
	width:40px;
	height:47px;
	text-align:center;
	line-height:47px;
	color:#fff;
	font-size:14px;
	
}
.product-page .image img{
	max-width:375px;
}
.product-page h1{
	margin: 0 0 10px 0;
}
.product-page .p-line{
	margin-bottom:20px;
	width:100%;
	height:55px;
}
.product-page .product-stock{
	font-size: 20px;
	margin-bottom:10px;
}
.product-page .product-price-box{
	float:left;
	margin-right:20px;
}
.product-page .product-price-box .product-price{
	font-size:25px;
	font-weight:bold;
}
.product-page .product-price-box .product-stock{
	font-size:14px;
	color:#595959;
}
.product-page .product-price-box .product-price .usd{
	font-size:20px;
	font-weight:bold;
}
.product-page .to-cart-button{
	background:#888fb0;
	height:44px;
	width:250px;
	text-align:center;
	color:#fff;
	border:0;
	outline:0;
	text-transform:uppercase;
	font-size:18px;
	font-weight:600;
}
.product-page .to-cart-button:hover{
	background:#717792;
}
.product-page .select-line {
	border:1px solid #e8e8e8;
	height:125px;
	margin-bottom:20px;
}
.product-page .select-line .product-colors{
	float:left;
	padding:25px 30px;
	border-right:1px solid #e8e8e8;
	min-width:160px;
}
.product-page .select-line .product-colors .colors-title{
	color:#000;
	font-weight:bold;
	font-size:22px;
	margin-bottom:10px;
}
.product-page .select-line .product-colors .colors-list{
	height:34px;
}
.product-page .select-line .product-colors .colors-list a{
	display:inline-block;
	width:25px;
	height:25px;
	border:1px solid #979797;
	margin-right:5px;
	position:relative;
}
.product-page .select-line .product-colors .colors-list a span{
	display:none;
	position:absolute;
	top:0;
	left:0;
	line-height:25px;
	color:#fff;
	width:24px;
	text-align:center;
	font-size:12px;
	z-index:2;
}
.product-page .select-line .product-colors .colors-list a.active span{
	display:block;
}
.product-page .select-line .size-select{
	float:left;
	padding:25px 30px;
	margin: -2px 0 0 0;
}
.product-page .select-line .size-select .size-title{
	color:#000;
	font-weight:bold;
	font-size:22px;
	margin-bottom:10px;
}
.product-page .select-line .size-select .size-name{
	color:#000;
	font-weight:bold;
	font-size:20px;
	margin-bottom:10px;
}
.product-page .old-price{
	color:red;
	text-decoration:line-through;
}
.product-page .select-line .size-select select{
	
}

.product-page #features{
	width:100%;
}
.product-page #features ul{
	width:100%;
	max-width:300px;
	list-style:none;
	padding:0;
	margin:0;
}
.product-page #features ul li{
	width:100%;
	background:#fefefe;
	color:#525252;
	line-height:30px;
	font-size:18px;
	font-weight:bold;
	padding: 0 5px; 
}
.product-page #features ul li .feature-name{
	margin-right:5px;
}
.product-page #features ul li:nth-child(odd) {
	background:#efefef;
}
.product-page .comment_list{
	clear:both;
	margin:20px 0;
	padding:0;
	list-style:none;
}
.product-page .comment_list li{
	padding:10px 0;
	border-bottom:1px solid #f4f3f3;
}
.product-page .comment_list .comment_header{
	font-size:16px;
	margin-bottom:5px;
}
.product-page .comment_list .comment_header span{
	color:#095694;
	
}
.product-page .comment_list .comment_name{
	font-size:16px;
	font-weight:bold;
	margin-bottom:5px;
}
.product-page .comment_list .comment_text{
	font-size:16px;
}
.product-page .comment_form{
	max-width:75%;
	margin:0 auto 20px;
}
.product-page .comment_form .comment_textarea label{
	font-size:28px;
	color:#000;
	margin-bottom:10px;
}
.product-page .comment_form .comment_textarea .c_textarea{
	height:100px;
	width:100%;
	padding:10px;
	border:1px solid #ccc;
	border-radius:5px;
	margin-bottom:20px;
	font-size:16px;
	outline:0;
}
.product-page .comment_form .comment_namearea label{
	font-size:28px;
	line-height:34px;
	color:#000;
	margin-bottom:10px;
	display:inline-block;
	margin-right:20px;
}
.product-page .comment_form .comment_namearea .input_name{
	display:inline-block;
	margin-bottom:20px;
	height:32px;
	border:1px solid #ccc;
	line-height:32px;
	font-size:16px;
	padding:0 10px;
	border-radius:5px;
	width:220px;
	outline:0;
}
.product-page .comment_form .comment_ratearea label{
	font-size:28px;
	line-height:34px;
	color:#000;
	margin-bottom:10px;
	display:inline-block;
	margin-right:20px;
	width:85px;
}
.product-page .comment_form .comment_ratearea .input_name{
	display:inline-block;
	margin-bottom:20px;
	height:32px;
	border:1px solid #ccc;
	line-height:32px;
	font-size:16px;
	padding:0 10px;
	border-radius:5px;
	width:220px;
	outline:0;
}
.product-page .comment_form .comment_check{
	padding:0 0 0 110px;
}
.product-page .comment_form .comment_check .captcha{
	float:left;
	margin-right:25px;
}
.product-page .comment_form .comment_check .captcha img{
	border:1px solid #ccc;
}
.product-page .comment_form .comment_check .input_captcha{
	float:left;
	height:45px;
	border:1px solid #ccc;
	line-height:45px;
	font-size:24px;
	padding:0 10px;
	border-radius:5px;
	width:100px;
	margin-right:20px;
	font-weight:bold;
	outline:0;
}
.product-page .comment_form .comment_check .button{
	float:left;
	background:#7d7d7d;
	line-height:45px;
	padding: 0 20px;
	text-transform:uppercase;
	color:#fff;
	border:0;
	outline:0;
	font-size:24px;
}
.product-page .comment_form .comment_check .button:hover{
	background:#888fb0;
}
.related_products{
	padding-top:20px;
}
.related_products h2{
	margin:0 0 20px 0;
	color:#000;
	font-size:28px;
}
.related_products h3{
	margin:10px 0 20px 0;
	color:#717375;
	font-size:14px;
	height:15px;
	overflow:hidden;
}
.related_products h3 a{
	color:#717375;
	font-size:14px;
	text-decoration:none;
}
.related_products .rp-image{
	overflow:hidden;
}
.related_products .rp-image img{
	transition:all 1s;
}
.related_products .rp-image:hover img{
	transform:scale(1.2);
}
.news-page .news{ 
	margin-bottom:20px;
} 
.news-page .news h2{ 
	margin: 0 0 20px 0;
}
.news-page .news a{ 
	color:#000;
} 
.news-page .news .more { 
	font-weight:bold;
	text-align:right;
} 

.news-page .image img{ 
	width:100%;
	max-width:262px;
} 

.cart-page{
	min-height:700px;
}
.cart-page #purchases{
	margin-bottom:30px;	
	list-style:none;
	padding:0;
}
.cart-page #purchases li{
	margin-bottom:10px;
	border:1px solid #8b8b8b;
	background:#fff;
	height:110px;
	line-height:110px;
	color:#000;
	border-radius:5px;
	overflow:hidden;
}
.cart-page #purchases li .p-img{
	padding:0 5px;
	text-align:center;
}
.cart-page #purchases li select{
	cursor:pointer;
}
.cart-page #purchases li .price{
	font-size:18px;
}
.cart-page #purchases li a{
	text-decoration:none;
	color:#000;
}
.cart-page #purchases li a:hover{
	text-decoration:underline;
}
.cart-page #purchases li .delete-purchase a{
	font-size:40px;
	line-height:115px;
}
.cart-page #purchases li .delete-purchase a:hover, .cart-page #purchases li .delete-purchase a:active{
	text-decoration:none;
	color:red;
}

.cart-page .total-price{
	text-align:right;
	font-size:18px;
	margin-bottom: 30px;
}
.cart-page .total-price span{
	font-size:20px;
	margin-left:20px;
}
.cart-page .customer-data{
	margin-bottom: 30px;
}
.cart-page .customer-data .alert{
	font-size:20px;
	margin-bottom:30px;
}
.cart-page .customer-data .form-label{
	clear:both;
}
.cart-page .customer-data .form-input select{
	width:100%;
	height:36px;
	background:#fff;
	border: 1px solid #8b8b8b;
	border-radius:5px;
	line-height:34px;
	font-size:18px;
	outline:0;
	padding: 0 10px;
	margin-bottom:10px;
}
.cart-page .customer-data .form-input input{
	width:100%;
	background:#fff;
	border: 1px solid #8b8b8b;
	border-radius:5px;
	line-height:34px;
	font-size:18px;
	outline:0;
	padding: 0 10px;
	margin-bottom:10px;
}
.cart-page .customer-data .form-input textarea{
	width:100%;
	background:#fff;
	border: 1px solid #8b8b8b;
	border-radius:5px;
	line-height:22px;
	font-size:18px;
	outline:0;
	padding: 10px;
	margin-bottom:10px;
	height:100px;
}
.cart-page .customer-data .captcha img{
	border: 1px solid #8b8b8b;
	margin-bottom:10px;
}
.cart-page .customer-data .input-captcha{
	height:43px;
	font-size:28px;
	font-weight:bold;
	
}
.cart-page .customer-data .checkout-button{
	width:250px;
	background:#888fb0;
	font-size:24px;
	font-weight:bold;
	border:1px solid #8b8b8b;
	line-height:46px;
	outline:0;
	display:block;
	color:#fff;
}
.cart-page .customer-data .checkout-button:hover{
	background:#717792;
}
.cart-page .customer-data .form-input .input-error{
	background-color: #f2dede;
    border-color: red;
}
.cart-page .table_info{
	margin-bottom:30px;
}
.cart-page .table_info td{
	height:30px;
	min-width:200px;
	padding:10px;
	font-size:16px;
}
.cart-page .table_info td.name{
	font-weight:bold;
}
.catalog-page .cat-top-img{
	margin:5px 0 10px;
}
.catalog-page .cat-top-img img{
	width:100%;
	max-width:1140px;
}
.catalog-page .cat-row{
	margin-bottom:20px;
	display:flex;
	justify-content:space-between;
}
.catalog-page .cat-row .cat-left-box{
	width:30%;
	overflow:hidden;
}
.catalog-page .cat-row .cat-left-box img{
	width:100%;
	max-width:339px;
	transition:all 1s;
}
.catalog-page .cat-row .cat-left-box:hover img{
	transform:scale(1.2);
}
.catalog-page .cat-row .cat-right-box{
	width:67%;
}
.catalog-page .cat-row .cat-right-box .cat-v-line{
	width:33.3333333%;
	float:left;
	overflow:hidden;
}
.catalog-page .cat-row .cat-right-box .cat-v-line .cat-v-title{
	width:100%;
	height:45px;
	background:#c3c7d7;
	text-align:center;
}
.catalog-page .cat-row .cat-right-box .cat-v-line .cat-v-title a{
	line-height:45px;
	color:#000;
	text-decoration:none;
	font-size:20px;
	text-transform:uppercase;
	font-weight:bold;
}
.catalog-page .cat-row .cat-right-box .cat-v-line .cat-v-title a:hover{
	text-decoration:underline;
}
.catalog-page .cat-row .cat-right-box .cat-v-line .cat-v-img{
	overflow:hidden;
}
.catalog-page .cat-row .cat-right-box .cat-v-line .cat-v-img img{
	width:100%;
	transition:all 1s;
}
.catalog-page .cat-row .cat-right-box .cat-v-line .cat-v-img:hover img{
	transform:scale(1.2);
}

footer{
	background:#888fb0;
}
footer .bottom-menu{
	list-style:none;
	padding:0;
	display:flex;
	justify-content:center;
	margin-top:15px;
}
footer .bottom-menu li a{
	color:#000;
	font: bold 12px/14px Arial;
	text-transform:uppercase;
	margin-right:20px;
}
footer .bottom-menu li a.last{
	margin-right:0;
}
footer .copy{
	color:#fff;
	justify-content:center;
	display:flex;
	align-items:flex-end;
	height:35px;
	line-height:40px;
}
footer .copy a{
	color:#fff;
	text-decoration:none;
	margin-left:10px;
}
footer .copy a:hover{
	text-decoration:underline;
}
@media (min-width: 992px) and (max-width: 1199px) {
	
}
@media (min-width: 768px) and (max-width: 991px) {
	.pdl-0{padding-left:15px;}
	.pdr-0{padding-right:15px;}
	.nav{
		margin-top:5px;
	}
	.nav>li>a {
		padding: 10px;
		color:#fff !important;
	}
	header{
		margin-top:45px;
	}
	header .bottom-block {
		display: flex;
		justify-content: flex-end;
	}

}
@media (max-width: 767px) {
	.pdl-0{padding-left:15px;}
	.pdr-0{padding-right:15px;}
	.nav>li>a {
		color:#fff !important;
	}
	header{
		margin-top:50px;
		min-height:156px;
	}
	header .lang-select a{
		font-size:12px;
		margin-left:5px;
	}
	header .lang-select{
		margin-right:10px;
	}
	header .social a{
		margin:0 0 0 5px;
		font-size:20px;
	}
	header .social a img{
		width:16px;
		height:16x;
	}
	header .bottom-block{
		justify-content:flex-end;
	}
	.best-sellers .owl-carousel .owl-nav {
		display:none;
	}
	.product-page .images img{
		width:100%;
	}
	.product-page .image img{
		width:100%;
	}
	.product-page .image{
		margin-bottom:20px;
	}
	.product-page .p-line{
		margin-bottom:20px;
	}
	.product-page .to-cart-button{
		height:35px;
		width:150px;
		text-align:center;
		color:#fff;
		border:0;
		outline:0;
		text-transform:uppercase;
		font-size:16px;
		font-weight:600;
	}
	.product-page #features ul{
		max-width:100%;
	}
	.related_products .product{
		text-align:center;
	}
	.product-page .comment_form{
		max-width:100%;
		margin:0 auto 20px;
	}
	.product-page .comment_form .comment_check{
		padding:0;
	}
	.product-page .comment_form .comment_check .captcha{
		float:left;
		margin-right:10px;
	}
	.product-page .comment_form .comment_check .input_captcha{
		margin-right:10px;
	}
	.product-page .comment_form .comment_check .button{
		float:left;
		background:#7d7d7d;
		line-height:45px;
		padding: 0 20px;
		text-transform:uppercase;
		color:#fff;
		border:0;
		outline:0;
		font-size:24px;
	}
	.product-page .comment_form .comment_check .button:hover{
		background:#888fb0;
	}
	.catalog-page .cat-row{
		display:block;
		justify-content:space-between;
	}
	.catalog-page .cat-row .cat-left-box{
		width:100%;
		overflow:hidden;
		text-align:center;
		margin-bottom:20px;
	}
	.catalog-page .cat-row .cat-left-box img{
		width:100%;
		max-width:339px;
		transition:all 1s;
	}
	.catalog-page .cat-row .cat-left-box:hover img{
		transform:scale(1.2);
	}
	.catalog-page .cat-row .cat-right-box{
		width:100%;
	}
	.catalog-page .cat-row .cat-right-box .cat-v-line{
		float:left;
		overflow:hidden;
	}
	.catalog-page .cat-row .cat-right-box .cat-v-line .cat-v-title{
		width:100%;
		height:35px;
		background:#c3c7d7;
		text-align:center;
	}
	.catalog-page .cat-row .cat-right-box .cat-v-line .cat-v-title a{
		line-height:35px;
		color:#000;
		text-decoration:none;
		font-size:14px;
		text-transform:uppercase;
		font-weight:bold;
	}
	.catalog-page .cat-row .cat-right-box .cat-v-line .cat-v-title a:hover{
		text-decoration:underline;
	}
	.catalog-page .cat-row .cat-right-box .cat-v-line .cat-v-img{
		overflow:hidden;
	}
	.catalog-page .cat-row .cat-right-box .cat-v-line .cat-v-img img{
		width:100%;
		transition:all 1s;
	}
	.catalog-page .cat-row .cat-right-box .cat-v-line .cat-v-img:hover img{
		transform:scale(1.2);
	}
	.cart-page #purchases li {
		height: 110px;
		line-height: 55px;
	}
	.cart-page #purchases li .delete-purchase a{
		font-size:30px;
		line-height:55px;
	}
	#iview .iview-controlNav .iview-items ul li {
		width: 15px !important;
		height: 15px !important;
	}
	#iview .iview-controlNav .iview-items ul li a {
		width: 15px !important;
		height: 15px !important;
	}
}
.answer {
	clear:both;
	margin-top:5px;
	padding-left:40px;
}
.answer .a-title{
	font-size:16px;
	color:red;
}