a:focus, img:focus{outline:0;}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: Arial;
    font-weight: 400;
}

/* body{background: url(../img/bg.png) repeat;} */
.clear{clear:both;}

.header {
	background:#f8f8f8;
	padding:15px 0;
}
.header .logo img {
	max-width:347px;
	width:100%;
	height:auto;
}
.header .t-contacts a{
	color:#4f4f4f;
}
.header .t-contacts .c-box, .header .t-contacts .c-box2{
	float:left;
	margin-top:0;
	font-size:16px;
	color:#4f4f4f;
	padding-left:20px;
	background:url(../img/phone.png) 0 4px no-repeat;
}
.header .t-contacts .c-box2{
	padding-left:30px;
	margin-left:10px;
	background:none;
}
.header .t-contacts .c-box span, .header .t-contacts .c-box2 span{
	color:#da501a;
}
.header .t-contacts .c-box small{
	color:#000;
	font-size:12px;
}

.header .t-contacts .c-box p{
	margin:0;
	line-height:22px;
}
.header .t-contacts .c-box2 p{
	margin:0;
	line-height:22px;
}
.header .t-contacts .c-box-wide{
	clear:both;
	float:left;
	margin-top:10px;
	padding-left:3px;
}
.header .t-contacts .c-box-wide a{
	color:#000;
	text-decoration:none;
	margin:0 15px 0 5px;
	font-family: Georgia, Arial;
}
.header .t-contacts .c-box-wide a:hover{
	text-decoration:underline;
}
.top-menu{
	background:#ed6d3b;
	z-index:1000;
}
.top-menu ul{
	padding:0;
	margin:0;
	list-style:none;
	display:flex;
	justify-content:flex-start;
}
.top-menu ul li{
	padding: 0 15px;
	position:relative;
}
.top-menu ul li a{
	color:#fff;
	line-height:40px;
	text-transform:uppercase;
	text-decoration:none;
}
.top-menu ul ul{
	position:absolute;
	top:40px;
	left:0;
	right:0;
	background:#ed6d3b;
	display:flex;
	justify-content:flex-start;
	flex-direction:column;
	z-index:1000;
	min-width:250px;
	display:none;
	padding:5px;
}
.top-menu ul li:hover ul{
	display:block;
}
.top-menu ul ul li{
	line-height:24px;
}
.top-menu ul ul li a{
	color:#fff;
	line-height:24px;
	text-transform:none;
}
.top-menu ul ul li a:hover{
	text-decoration:underline;
}
#cart_informer{
	float:left;
	margin-top:10px;
	height:34px;
}
#cart_informer a{
	color:#da501a;
	text-decoration:none;
	font-weight:600;
}
#cart_informer a:hover span{
	text-decoration:underline;
}
#cart_informer img{
	float:left;
	line-height:18px;
	
}
#cart_informer span{
	float:left;
	margin-left:10px;
	line-height:18px;
	
}
.sticky-content.fixed {
    position: fixed;
    top: 0px;
	left: auto;
    right: auto;
	width:100%;
	max-width:262px;
}

.accordion{
	margin: 20px 0;
	padding:0;
	max-width:262px;
}
.accordion ul{
	padding:5px 0 5px 30px;
}

.accordion li a{
	display:block;
	line-height:34px;
	text-align:center;
	width: auto;
	background:#ed6d3b;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	
}
.accordion li{
	margin:5px 0;
}
.accordion li .dcjq-parent{
	font-weight:bold;
}
.accordion ul li{
	margin:5px 0;
}
.accordion li li a{
	display:block;
	line-height:20px;
	text-align:left;
	width:100%;
	background:none;
	color:#4f4f4f;
	text-transform:none;	
}
.accordion li li a.active{
	font-weight:bold;
	color:#ed6d3b;
}
.accordion li li a:hover{
	text-decoration:underline;
}

.slider{
	width:100%;
	position:relative;	
	margin-bottom:30px;
}
.slider .slick-dots{
	position:absolute;
	bottom:45px;
	list-style:none;
	text-align:center;
	width:100%;
	padding:0;
	margin:0;
}
.slider .slick-dots li{
	display:inline-block;
	width:25px;
	height:25px;
	margin: 0 10px;
}
.slider .slick-dots button{
	display:inline-block;
	width:25px;
	height:25px;
	text-indent:-9999px;
	background:#fff;
	border:0;
	outline:0;
	border-radius:25px;
}
.slider .slick-dots button:hover, .slider .slick-dots li.slick-active button {
	background:#ed6e3b;
}


.main-small-categories{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.main-small-categories .ms-cat{
	max-width:305px;
	width:32%;
	margin:0 5px 30px;
	display:flex;
	flex-direction:column;
	overflow:hidden;
}
.main-small-categories .ms-cat a{
	overflow:hidden;
}
.main-small-categories .ms-cat img{
	max-width:305px;
	width:100%;
	height:auto;
	transition: all 0.5s ease-out;
}
.main-small-categories .ms-cat:hover img{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.main-small-categories .ms-cat .c-title{
	text-align:center;
	background:#ed6e3b;
	color:#fff;
	padding:5px 15px;
}
.main-small-categories .ms-cat .c-title a{
	color:#fff;
	font-size:1.4em;
	font-weight:bold;
}

.main-big-categories{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.main-big-categories .mb-cat{
	width:48%;
	margin-bottom:30px;
	display:flex;
	flex-direction:column;
	max-width:550px;
	overflow:hidden;
}
.main-big-categories .mb-cat a{
	overflow:hidden;
}
.main-big-categories .mb-cat img{
	max-width:550px;
	width:100%;
	height:auto;
	transition: all 0.5s ease-out;
}
.main-big-categories .mb-cat:hover img{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.main-big-categories .mb-cat .c-title{
	text-align:center;
	background:#ed6e3b;
	color:#fff;
	font-size:18px;
	padding:5px 15px;
}
.main-big-categories .mb-cat .c-title a{
	color:#fff;
	font-size:18px;
	font-weight:bold;
}

.categories-title h1{
	font-family: Georgia, Arial;
	color:#535354;
	font-size:26px;
	line-height:30px;
	text-transform:uppercase;
	margin:20px 0 25px;
}
.categories-list{
	display:flex;
	justify-content:flex-start;
	flex-direction:row;
	flex-wrap:wrap;
}
.categories-list .subcat-box {
	max-width:305px;
	width:24%;
	border:5px solid #fff;
	margin:0 0.5% 30px;
}
.categories-list .subcat-box .subcat-img {
	overflow:hidden;
}
.categories-list .subcat-box .subcat-img img{
	width:100%;
	transition: all 0.5s ease-out;
}
.categories-list .subcat-box .subcat-img:hover img{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.categories-list .subcat-box .subcat-title a{
	width:100%;
	background:#ed6d3b;
	display:block;
	text-align:center;
	text-transform:uppercase;
	color:#fff;
	line-height:26px;
	font-weight:600;
}
.products-category .table td{
	border:4px solid #fff;
	color:#030303;
	font-size:16px;
	font-weight:600;
}
.products-category .table td a{
	color:#000;
	text-decoration:none;
}
.products-category .table td a:hover{
	text-decoration:underline;
}
.products-category .table-striped>tbody>tr:nth-child(odd)>td, .products-category .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #dadada;
}
.products-category .table-striped>tbody>tr:nth-child(even)>td, .products-category .table-striped>tbody>tr:nth-child(even)>th {
    background-color: #eaeaea;
}
.products-category .table td{
	border:4px solid #fff;
	vertical-align:middle;
}
.products-category .table td.amount, .products-category .table td.to-cart, .products-category .table td.price{
	width:18%;
	text-align:center;
}
.products-category .table td .button{
    background: #757575;
    line-height: 30px;
    padding: 0px 25px;
    text-transform: uppercase;
    color: #fff;
    outline: 0;
    border: 0;
    font-size: 12px;
}
.products-category .table td .button:hover{
    background: #ed6d3b;
}
.products-category .table td.amount .button{
    font-size: 20px;
    line-height: 30px;
    width: 36px;
    display:inline-block;
	font-weight:normal;
    padding: 0;	
}
.products-category .table td.amount .amount-input{
    text-align: center;
    margin: 3px -2px;
    width: 50px;
    border: 0;
    outline: 0;
	font-weight:normal;
    display:inline-block;
}
.products-category .table td.nb-l {
	border-left:0;
	
}
.products-category .table td.nb-r {
	border-right:0;
}
.products-category .table .pagination-tr td {
	border:0;
	background:#4f4f4f !important;
	line-height:20px;
}
.products-category .table .t-header td {
	border:0;
	background:#ed6d3b !important;
	line-height:22px;
}
.products-category .table .t-header td  #features{
	color:#fff;
	text-transform:uppercase;
	font-weight:600;
}
.products-category .table .t-header td  #features a{
	color:#fff;
	text-transform:uppercase;
	font-weight:600;
	text-decoration:none;
	margin:0 5px;
}
.products-category .table .t-header td  #features a:hover, .products-category .table .t-header td  #features a.selected{
	text-decoration:underline;
}
.products{
	margin-top:20px;
	
}
.products-category .products td.amount .am{
	width:140px !important;
	display:block;
}

.text-block{
	margin-top:20px;
}
.text-block h2{
	margin-bottom:20px;
	color:#535354;
	text-transform:uppercase;
	font-size:26px;
	font-family: Georgia, Arial;
}
#product {
	padding:20px 0 40px;
}
#product .product-cont{
	margin-bottom:30px;
	display:flex;
}
#product .images-block{
	width:50%;
	padding-right:30px;
}
#product .images a {
	display:inline-block;
	margin:0 10px 10px 0;
}
#product .image{
	margin-bottom:30px;
}
#product .product-info{
	width:50%;
}
#product .product-info h1{
	font-size:30px;
	margin-bottom:20px;
}
#product .product-info .features{
	margin:0 0 10px 0;
	padding:0;
	list-style:none;
}
#product .product-info .features label{
	font-weight:bold;
}
#product .product-info .price{
	font-size:20px;
	margin-bottom:10px;
	font-weight:700;
}
#product .product-info .in-stock{
	margin-bottom:10px;
	font-weight:700;
	color:green;
}
#product .product-info .v-size span{
	font-weight:700;
	display:block;
	margin-bottom:10px;
}
#product .product-info .v-size .variants{
	margin-bottom:20px;
}
#product .product-info .sizes-help{
	float:right;
	color: #000;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    padding: 2px 10px;
    background: #fdda64;
    border: 0;
    outline: 0;
    cursor: pointer;
	margin-bottom:0;
}
#product .product-info .sizes-help:hover {
    background: #e4bb32;
}
#product .product-info #sizesHelp table{
	margin-bottom:20px;
	font-weight:500;
}
#product .product-info #sizesHelp table tr:nth-child(even){
	background: #f8f8f8;
}
#product .product-info #sizesHelp table th{
	padding:10px;
	min-width:150px;
}
#product .product-info #sizesHelp table td{
	padding:10px;
	min-width:150px;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
#product .product-info .v-size .variants label{
	position:relative;
	cursor:pointer;
	margin:0;
}
#product .product-info .v-size .variants label span{
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index:1001;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	margin:0px;
	font-weight:500;
}
#product .product-info .v-size .variants .option-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 40px;
	width: 40px;
	transition: all 0.15s ease-out 0s;
	background: #f8f8f8;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-right: 0.5rem;
	outline: none;
	position: relative;
	z-index: 1000;
}
#product .product-info .v-size .variants .option-input:hover {
  background: #fdda64;
}
#product .product-info .v-size .variants .option-input:checked {
  background: #fdda64;
}
#product .product-info .v-size .variants .option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
#product .product-info .v-size .variants .option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #fdda64;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
#product .product-info .v-size .variants .option-input.radio {
  border-radius: 50%;
}
#product .product-info .v-size .variants .option-input.radio::after {
  border-radius: 50%;
}

#product .product-info .amount-select{
	margin-bottom:20px;
}
#product .product-info .amount-select .button{
	background:#383838;
	line-height:30px;
	padding: 0px 25px;
	text-transform:uppercase;
	color:#fff;
	outline:0;
	border:0;
	font-size:12px;
}
#product .product-info .amount-select .add1, #product .product-info .amount-select .add2{
	line-height:37px;
	width:36px;
	float:left;
	padding:0;
	color: #000;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    background: #ed6d3b;
    border: 0;
    outline: 0;
    cursor: pointer;
}
#product .product-info .amount-select .add1:hover, #product .product-info .amount-select .add2:hover {
    background: #dd5f2e;
}
#product .product-info .amount-select .amount-input{
	float:left;
	text-align:center;
	margin: 5px 0;
	width:50px;
	border:0;
	outline:0;
}
#product .product-info .amount-select .cart-but{
	margin-left:20px;
	color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 25px;
    background: #ed6d3b;
    border: 0;
    outline: 0;
    cursor: pointer;
}
#product .product-info .amount-select .cart-but:hover {
    background: #dd5f2e;
}

.form
{
	width:100%;
	margin: 0 0 20px;
}
.form textarea
{
	width:100%;
	height:100px;
	font-size: 18px;
}
.form label {
	display:block;
	font-size: 14px;
}
.form input[type="text"]{
	display:block;
	margin-bottom: 10px;
	width:250px;
}
.form select{
	display:block;
	margin-bottom: 10px;
	width:250px;
	height:28px;
}

/* @group Форма отправки комментария */
.comment_form {
	background-color: #fef4be;
	border: 1px solid #f2e7aa;
	padding: 20px;
	margin-top: 20px;
	width: 100%;
	overflow: hidden;
}
.comment_form h2 {
	margin: 0 0 10px 0;
	font-size:26px;
}
.comment_form .comment_textarea {
	width: 100%;
	height: 100px;
	font-size: 12px;
}
.comment_form label {
	display: block;
	float: left;
	width: 100px;
	font-size: 18px;
	margin-top: 0;
}
.comment_form .input_name {
	font-size: 16px;
	width: 250px;
	margin-top: 0;
}
.comment_form .input_captcha, .cart_form .input_captcha{
	float: left;
	width: 150px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 0;
	height: 36px;
}
.comment_form .captcha, .cart_form .captcha {
	float: left;
	display: block;
	margin-top: 0;
	margin-right: 10px;
}
.comment_form .button,
.feedback_form .button,
.calculation_form .button,
.cart_form .button,
.register_form .button,
.login_form .button{
	float: left;
	display: block;
	margin: 20px 0 0 0;
}
/* @end — Форма отправки комментария */

@media (max-width: 568px) {
	.comment_form label {
		width: 80px;
	}
	.comment_form .input_captcha{
		width: 100px;
	}
	.comment_form .input_name {
		width: 100%;
	}
}
@media (max-width: 768px) {
	#comments{
		padding-left:0px;
	}
}
#order_comment{
	margin-bottom:20px;
	
}
#comment_captcha{
	width:91px;
	height:43px;
	
}

/* @group Форма отправки обратной связи */
.feedback_form {
	padding: 20px;
	margin-top: 20px;
	width: 100%;
	overflow: hidden;
}
.feedback_form .input_captcha, .register_form .input_captcha{
	float: left;
	width: 150px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 15px;
	height: 42px;
}
.feedback_form .captcha, .register_form .captcha{
	float: left;
	display: block;
	margin-top: 15px;
	margin-right: 10px;
	border: 1px solid #a0a0a0;
}
.feedback_form .button {
	font-size: 18px;
	float: left;
	margin: 20px 0 0 20px;
}
.calculation_form {
	padding: 20px;
	margin-top: 20px;
	width: 100%;
	overflow: hidden;
}
.calculation_form .input_captcha{
	float: left;
	width: 150px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 15px;
	height: 42px;
}
.calculation_form .captcha{
	float: left;
	display: block;
	margin-top: 15px;
	margin-right: 10px;
	border: 1px solid #a0a0a0;
}
.calculation_form .button {
	float: left;
	margin: 20px 0 0 0;
	background: #383838;
    line-height: 43px;
    padding: 0px 25px;
    text-transform: uppercase;
    color: #fff;
    outline: 0;
    border: 0;
    font-size: 12px;
}
.calculation_form .button:hover{
    background: #ed6d3b;
}
.calculation_form input[type="text"] {
    display: block;
    margin-bottom: 10px;
    width: auto;
}
.density {padding:20px;}
.density td {padding:5px 0;min-width:60px;}
.pagination {
	margin:0;
}
.pagination a{
	width:36px;
	line-height:36px;
	display:inline-block;
	text-align:center;
	background:#fff;
	border:1px solid #828282;
	color:#828282;
	text-decoration:none;
	font-size:16px;
}
.pagination a:hover, .pagination a.selected{
	background:#ed6d3b;
	border:1px solid #828282;
	color:#fff;
}

.cart-page h1{
	font-size:18px;
	color:#4f4f4f;
	font-family: Georgia, Arial;
	margin:20px 0 0;
	text-transform:uppercase;
}
.cart-page h2{
	font-size:16px;
	color:#4f4f4f;
	font-family: Georgia, Arial;
	margin:20px 0;
	text-transform:uppercase;
}
.cart-page .form .button, .feedback_form  .form .button{
	float:left;
	margin: 0 0 0 10px;
	background: #383838;
    line-height: 43px;
    padding: 0px 25px;
    text-transform: uppercase;
    color: #fff;
    outline: 0;
    border: 0;
    font-size: 12px;
}
.cart-page .form .button:hover, .feedback_form  .form .button:hover{
    background: #ed6d3b;
}
.feedback_form  .form .button{
	margin: 15px 0 0 10px;
}
.category-image{
	text-align:center;
	padding:15px 0;
	
}
.category-text{margin-top:0;}
.p-name{
	max-width:150px;
	word-wrap: break-word;
}
/* @end — Форма отправки комментария */


.we-are{
	background:#f8f8f8;
	color:#434343;
}
.we-are .we{
	padding:0 15px;
	display:flex;
	justify-content:space-between;
	min-height:150px;
	align-items:center;
}
.we-are .we div{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	color:#292930;
	max-width:800px;
}
.we-are .we div h2{
	margin:0;
	padding:0;
	margin-right:24px;
	font-weight:bold;
	color:#434343;
}
.we-are .we div p{
	margin:0;
	padding:0;
	font-size:20px;
	font-weight:bold;
	color:#434343;
}
.we-are .we div p span{
	font-size:20px;
	font-weight:bold;
}
.we-are .we a{
	color:#343b42;
	background:#fff;
	padding: 0 30px;
	line-height:40px;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	display:inline-block;
	text-decoration:none;
}
.we-are .we a:hover{
	background:#ed6d3b;
	color:#fff;
}

.we-are .we a i{
	margin-right:10px;
}
.contacts {
	padding:30px 0;
}

.contacts h2 {
    text-align: center;
    font: bold 28px/32px Arial;
    color: #364563;
    margin: 0 0 40px;
    text-transform: uppercase
}

.contacts input.text-input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #cc5425;
    padding: 10px
}

.contacts input.button {
    float: right;
    margin-bottom: 10px;
    background: #ed6d3b;
    padding: 10px 20px;
    color: #fff;
    border: 0;
    outline: 0
}

.contacts input.button:hover {
    background: #cc5425
}

.contacts textarea {
    width: 100%;
    min-height: 150px;
    margin-bottom: 10px;
    border: 1px solid #cc5425;
    padding: 10px
}

.contacts .contacts-box .address {
    color: #8b8b8b;
    font: 18px/22px Arial;
    margin-bottom: 20px
}

.contacts .contacts-box .phones-title {
    color: #8b8b8b;
    font: 16px/20px Arial;
    margin-bottom: 10px
}

.contacts .contacts-box .phones {
    padding-left: 70px;
    min-height: 50px;
    background: url(../img/c-phone.png) 0 center no-repeat;
    margin-bottom: 20px
}

.contacts .contacts-box .phones p {
    margin: 0 0 2px;
    color: #8b8b8b;
    font: 16px/18px Arial
}

.contacts .contacts-box .social a {
    color: #8b8b8b;
    font: 32px/32px Arial;
    text-decoration: none
}

.contacts .contacts-box .social a:hover {
    color: #000
}

.contacts .contacts-box .hotline {
    color: #364563;
    font: bold 22px/26px Arial
}
.map{margin-bottom:10px;}
.bottom-text{
	padding:0 15px;
}
.bottom-text p{
	margin:0;
	text-indent:30px;
	text-align:justify;
}

.footer {padding:0;}
.footer .bottom-line {background:#f8f8f8;}
.footer .bottom-line .bot-menu {
	padding:0 10px;
	margin:0;
}
.footer .bottom-line .bot-menu li{
	list-style:none;
	display:inline;
	margin-right:25px;
	line-height:44px;
}
.footer .bottom-line .bot-menu li a{
	color:#747474;
	text-decoration:none;
	font-family: Arial;
	font-size:13px;
}
.footer .bottom-line .bot-menu li a:hover{
	text-decoration:underline;
}
.footer .f-mid {
	padding:20px 0;
}
.footer .f-mid  p{
	color:#5e5e5e;
	margin:0;
	font-size:13px;
}
.footer .f-mid  .copy{
	text-align:right;
}
.footer .f-mid  .copy a{
	color:#5e5e5e;
	text-decoration:none;
}
.footer .f-mid  .copy a:hover{
	text-decoration:underline;
}
h1.category-name{
	padding:15px 0;
	margin:0;
	font-size:30px;
}
header .search {
	position:relative;
	top:0;
	right:0;
	width:220px;
	margin-top:10px;
}
header .search .button_search{
	float:right;
	width:20%;
	border:0;
	background:none;
	outline:0;
	color:#434343;
	font-size:16px;
	line-height:22px;
}
header .search .input_search{
	float:left;
	width:80%; 
	height:20px;
	line-height:20px;
	font-size:14px;
	margin-top:3px;
}
@media (max-width: 768px) {
	.header .logo {
		text-align:center;
	}
	.header .logo img {
		margin-bottom:10px;
	}
	#cart_informer{
		float:none;
		margin: 0 auto;
		text-align:center;
		width:220px;
		height:50px;
	}
	.t-contacts{
		display:flex;
		justify-content:center;
		padding:15px 0;
	}
	.header .t-contacts .c-box, .header .t-contacts .c-box2 {
		float: none;
	}
	.sticky-content.fixed {
		position: relative;
		max-width:80%;
	}
	.accordion{
		max-width:80%;
		margin:20px auto;
	}
	#product .product-cont {
		flex-direction:column;
	}
	#product .images-block {
		width: 100%;
		padding-right: 0px;
	}
	#product .images-block .image img{
		width: 100%;
	}
	#product .images-block .images img{
		max-width: 180px;
	}
	#product .product-info {
		width: 100%;
	}
	.categories-list{
		display:flex;
		justify-content:center;
		flex-direction:row;
		flex-wrap:wrap;
	}
	.categories-list .subcat-box {
		max-width:305px;
		width:98%;
		margin:0 1% 30px;
		border:5px solid #fff;
	}
	.categories-list .subcat-box {
		width:98%;
		margin:0 1% 30px;
	}
	.products-category .table td .button{
		padding: 0px 10px;
	}
	.products-category .table td.amount .button {
		width: 26px;
	}
	.products-category .table td.amount, .products-category .table td.to-cart {
		width: auto;
	}
	.products-category .table td.price {
		white-space:nowrap;
	}
	.we-are .we {
		padding:20px 0;
		flex-direction:column;
		justify-content: center;
	}
	.we-are .we div {
		flex-direction:column;
		justify-content: center;
		margin-bottom:20px;
		text-align:center;
	}
	.we-are .we div h2 {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.main-small-categories{
		justify-content:center;
	}
	.main-small-categories .ms-cat{
		width:100%;
	}
	.main-big-categories{
		justify-content:center;
	}
	.main-big-categories .mb-cat{
		width:100%;
	}
	.header .t-contacts .c-box2 {
		padding-left: 0;
		margin-bottom:20px;
	}
	.slider .slick-dots button{
		display:none;
	}
	.products-category .table .t-header td #features {
		text-align:center;
		font-size:20px;
	}
	.products-category .table td.amount .button {
		display:none;
	}
	.products-category .table td.amount{
		width: 60px;
		text-align: center;
	}
	.products-category .products td.amount .am {
		width: 60px !important;
	}
	.products-category .table td.to-cart{
		width: 60px;
		text-align: center;
	}
	.products-category .table td.price {
		width: 100px;
		text-align: center;
	}
	.products-category .table td .button {
		background: #757575 url(../img/to-cart.png) center center no-repeat;
		text-indent:-9999px;
		width:50px;
		height:40px;
		line-height: 30px;
		padding: 5px;		
	}
	.products-category .table td .button:hover {
		background: #ed6d3b url(../img/to-cart.png) center center no-repeat;
	}
	.currency{font-size:12px !important;}
	.top-menu{
		display:none;
	}
}
@media (min-width: 769px) and (max-width: 991px) {
	.header .logo {text-align:center;}
	.header .logo img{margin-bottom:20px;}
	.top-menu{
		display:none;
	}
	.navbar-brand{
		display:none;
	}
	.main-small-categories .ms-cat{
		width:50%;
	}
	.main-big-categories{
		justify-content:center;
	}
	.main-big-categories .mb-cat{
		width:100%;
	}
	.header .t-contacts .c-box2 {
		padding-left: 0;
		margin-bottom:20px;
	}
	.navbar .navbar-nav > li > a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	#product .image img{
		width:100%;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.header .h-mid .logo {text-align:center;}
	.header .h-mid .logo img {width:80%;max-width:347px;}
	.header .t-contacts .c-box, .header .t-contacts .c-box2{
		padding-left: 30px;
		margin-left: 0;
	}
	
	.header .t-contacts .c-box-wide {
		margin-top: 0px;
		margin-bottom: 10px;
	}
	.sticky-content.fixed {
		max-width:80%;
	}
	.accordion{
		max-width: 212px;
	}
	.accordion li {
		font-size:12px;
	}
	.top-menu ul li{
		padding: 0 8px;
	}
	.top-menu ul li a{
		line-height:40px;
		font-size:13px;
	}
	.top-menu ul ul{
		position:absolute;
		top:40px;
		left:0;
		right:0;
		background:#ed6d3b;
		display:flex;
		justify-content:flex-start;
		flex-direction:column;
		z-index:1000;
		min-width:250px;
		display:none;
		padding:5px;
	}
	.top-menu ul li:hover ul{
		display:block;
	}
	.top-menu ul ul li{
		line-height:24px;
	}
	.top-menu ul ul li a{
		color:#fff;
		line-height:24px;
		text-transform:none;
	}
	.top-menu ul ul li a:hover{
		text-decoration:underline;
	}
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-inverse .navbar-brand {
	color: #fff;
}
.navbar .navbar-nav > li > a {
	color: #fff;
    font-size: 16px;
}
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
    background-color: #bc4d22;
}
.navbar-inverse .navbar-toggle {
    border-color: #bc4d22;
}
.navbar {
   background-color: #ed6d3b;
}
.navbar .navbar-collapse {
    background: #ed6d3b;
}
.navbar .navbar-collapse, .navbar .navbar-form {
    border-color: #bc4d22;
}
.nav>li:hover {
    background: #bc4d22;
}
.p-calculators form{
	display:flex;
	flex-direction:column;
	margin-bottom:20px;
}
.p-calculators form p{
	display:flex;
	flex-direction:row;
	margin-bottom:10px;
}
.p-calculators form p span{
	width:300px;
	font: bold 14px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
}
.p-calculators form p input {
	margin-left:20px;
}
.p-calculators form p output {
    display: block;
    padding-top: 0;
	font: bold 14px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
    color: #ed6d3b;
	margin-left:20px;
}
.s-form .image img{width:100%; height:auto;}

.id490,.id490 a,.id492,.id492 a{color:red !important}